$karlsonDarkBlue: #001eff;
$karlsonLightGrey: #5f6c7d;
$karlsonDarkGrey: #2c363b;
$karlsonLighterGrey: #cddbec;
$karlsonGrey: #b4bbc6;
$karlsonDarkGreen: #27d795;
$karlsonLightGreen: #00ff9f;
$karlsonGreenShade: #e5fff5;
$karlsonYellow: #d3d065;
$karlsonRed: #dd3236;
$karlsonLightRed: #fe7e79;
$karlsonChartBlue: #249ba4;
$karlsonHighlight: #f0f4f9;
$darkGrey: #0d0f35;
$linkedIn: #2b92e8;
$karlsonPurple: #a35aff;
$twitter: #08a0e9;
$medium: #4fa54e;